.FormBar {
  overflow: auto;
  margin: 0 auto;
  text-align: center;
  horiz-align: center;
}

.CreateForm {
  display: inline-block;
  margin: 0 auto;
}


.CreateInput {
  width: 20%;
  vertical-align: center;
  margin-left: auto;
  margin-bottom: 10px;
}


.DeleteButton {
  float: right;
  font-size: 15px;
  background-color: #2b77f2;
  color: white;
  -webkit-transition-duration: 0.4s;
  padding:5px 5px;
}

.DeleteButton:hover {
  background-color: white;
  color: black;
}
