.FormBar {
  margin-bottom: 10px;
  height: 35px; }

  .FormBar .UnpackedForms {
    height: inherit;
    width: 50%;
    display: flex;
    float: right; }
    /*.FormBar .UnpackedForms .DeleteButton {*/
      /*float: right; }*/

    /*.FormBar .UnpackedForms .CreateForm {*/
      /*float: left;*/
      /*margin-left: 40px; }*/


.CreateInput {
  height: 35px;
  margin-left: auto;
  margin-bottom: 10px;
  text-align: center;
}
