.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 45px;
  justify-content: flex-start;
  flex-grow: 0;
  overflow: hidden; }


  .sidebar-container .sidebar-item {
    align-self: center;
  }