.toolbar {
  margin-bottom: 5px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 0; }

  .toolbar .create-wrapper {
    min-width: 330px;
    display: inline-block;
  }
